Repository ansible-collections/cisco.iosxr, pull requests merged in 2022-04, with the labels that each got.

#230 iosxr_prefix_lists: Add missing keys ge, eq, le
  changelogs/fragments/add_missing_keys_iosxr_prefix_lists.yaml
  docs/cisco.iosxr.iosxr_prefix_lists_module.rst
  plugins/module_utils/network/iosxr/argspec/prefix_lists/prefix_lists.py
  plugins/module_utils/network/iosxr/rm_templates/prefix_lists.py
  plugins/modules/iosxr_prefix_lists.py
  tests/unit/modules/network/iosxr/test_iosxr_prefix_lists.py
Labels: gate, mergeit

#235 Copy ingore txt
  changelogs/fragments/0-ignore.yml
  tests/sanity/ignore-2.14.txt
Labels: gate, mergeit

#237 [facts] default value for gather_subset is changed to min instead of !config
  README.md
  changelogs/fragments/gather_subset_update.yml
  docs/cisco.iosxr.iosxr_bgp_global_module.rst
  docs/cisco.iosxr.iosxr_cliconf.rst
  docs/cisco.iosxr.iosxr_facts_module.rst
  docs/cisco.iosxr.iosxr_user_module.rst
  plugins/module_utils/network/iosxr/argspec/facts/facts.py
  plugins/modules/iosxr_facts.py
  tests/integration/targets/iosxr_facts/tests/cli/default_facts.yaml
  tests/unit/modules/network/iosxr/test_iosxr_facts.py
Labels: mergeit

#207 updated references of base plugins to netcommon
  changelogs/fragments/netcommon_ref_update.yaml
  galaxy.yml
  plugins/cliconf/iosxr.py
  plugins/netconf/iosxr.py
  plugins/terminal/iosxr.py
Labels: blocks_release, mergeit

#238 Add fqcn to ansible_connection to support stable-2.9
  changelogs/fragments/fix_fqcn_netcommon.yml
  tests/integration/targets/iosxr_smoke/tasks/cli.yaml
  tests/integration/targets/iosxr_smoke/tasks/netconf.yaml
  tests/integration/targets/iosxr_smoke/tests/cli/caching.yaml
Labels: mergeit

#239 prep major release 3.0.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/0-ignore.yml
  changelogs/fragments/add_missing_keys_iosxr_prefix_lists.yaml
  changelogs/fragments/fix_fqcn_netcommon.yml
  changelogs/fragments/gather_subset_update.yml
  changelogs/fragments/iosxr_ospfv2_gathered_fixed.yaml
  changelogs/fragments/netcommon_ref_update.yaml
  changelogs/fragments/update_black_version.yaml
Labels: mergeit
