Repository ansible-collections/cisco.iosxr, pull requests merged in 2023-12, with the labels that each got.

#463 Fix integration tests
  changelogs/fragments/fix_iosxr_config.yaml
  tests/integration/targets/iosxr_config/tests/cli/backup.yaml
  tests/integration/targets/iosxr_config/tests/cli/comment-too-long.yaml
  tests/integration/targets/iosxr_config/tests/cli/comment.yaml
  tests/integration/targets/iosxr_config/tests/cli/src_basic.yaml
  tests/integration/targets/iosxr_config/tests/cli/src_match_none.yaml
Labels: bug

#457 Add cdp neighbors to ansible_net_neighbors facts
  changelogs/fragments/fix_add_cdp_neighbors.yaml
  docs/cisco.iosxr.iosxr_facts_module.rst
  plugins/module_utils/network/iosxr/facts/legacy/base.py
  plugins/modules/iosxr_facts.py
  tests/unit/modules/network/iosxr/fixtures/show_cdp
  tests/unit/modules/network/iosxr/fixtures/show_cdp_neighbors_detail
  tests/unit/modules/network/iosxr/test_iosxr_facts.py
Labels: feature, skip-changelog

#464 Add cleanup scripts
  tests/integration/targets/iosxr_config/tests/cli/replace_block.yaml
Labels: skip-changelog
